<div class="row">
	<div>
		<h3 class="push-bottom-2x">View Contact: <strong>{{contact.firstName}} {{contact.middleName}} {{contact.lastName}}</strong></h3>
		<h5>ID: {{contact.id}}
		</h5>
		<div class="row">
			<div class="small-12 medium-4 columns">
				<label><u>Email</u></label>
				<p class="text-justify">
					{{contact.email}}
				</p>
			</div>
			<div class="small-12 medium-4 columns">
				<label><u>Mobile Phone</u></label>
				<p class="text-justify">
					{{contact.mobilePhone}}
				</p>
			</div>
			<div class="small-12 medium-4 columns">
				<label><u>Fax</u></label>
				<p class="text-justify">
					{{contact.fax}}
				</p>
			</div>
		</div>
	</div>
</div>
