<header>
	<div class="nav">
		<div class="home-link">
			<a routerLink="/" routerLinkActive="active" class="menu-link" (click)="closeMenu()">Sandbox Home</a>
		</div>
		<div class="menu-toggle" (click)="toggleMenu()">
			<i class="fa fa-bars"></i>
		</div>
		<span class="animation-wrapper">
			<div class="" [ngClass]="{'menu-group': !activeMobileMenu, 'mobile-menu-group': activeMobileMenu}" (click)="toggleMenu()">
				<ul class="main-menu">
					<li class="">
						<a routerLink="/providers" routerLinkActive="active" class="menu-link">Providers</a>
					</li>
					<li class="">
						<a routerLink="/contacts" routerLinkActive="active" class="menu-link">Contacts</a>
					</li>
					<li class="">
							<a routerLink="/demos" routerLinkActive="active" class="menu-link">Demos</a>
						</li>
					<li class="">
						<a href="http://localhost:3030/api/documentation" class="menu-link" target="_blank">Api Guide</a>
					</li>
				</ul>
				<ul class="login-menu">
					<li class="login-link" *ngIf="user.isAuthenticated">
						<a class="menu-link" (click)="logout()">Logout</a>
					</li>
					<li class="login-link" *ngIf="!user.isAuthenticated">
						<a routerLink="/login" routerLinkActive="active" class="menu-link">Login</a>
					</li>
				</ul>
			</div>
			<div class="menu-backdrop" (click)="toggleMenu()" [ngClass]="{'show': activeMobileMenu}"></div>
		</span>
	</div>
</header>
