<h1 *ngIf="!provider.id">Create New Provider</h1>
<h1 *ngIf="provider.id">Edit Provider</h1>
<hr/>
<form class="row" [formGroup]="providerForm" (ngSubmit)="saveProvider(providerForm.value)">
	<div class="form-group">
		<div class="small-12 medium-4 columns">
			<label for="name" class="required">Name</label>
			<validate [errors]="formErrors['name']">
				<input type="text" class="form-control" id="name" formControlName="name" required>
			</validate>
		</div>
		<div class="small-12 medium-4 columns">
			<label for="dba" class="required">DBA</label>
			<validate [errors]="formErrors['dba']">
				<input type="text" class="form-control" id="dba" formControlName="dba" required>
			</validate>
		</div>
		<div class="small-12 medium-4 columns">
			<label for="legalName" class="required">Legal Name</label>
			<validate [errors]="formErrors['legaName']">
				<input type="text" class="form-control" id="legalName" formControlName="legalName" required>
			</validate>
		</div>
	</div>
	<div class="form-group">
		<div class="small-12 medium-4 columns">
			<label for="providerNumber" class="required">Provider Number</label>
			<validate [errors]="formErrors['providerNumber']">
				<input type="text" class="form-control" id="providerNumber" formControlName="providerNumber" required>
			</validate>
		</div>
		<div class="small-12 medium-4 columns">
			<label for="identifierType" class="required">SSN or EIN</label>
			<validate [errors]="formErrors['identifierType']">
				<select id="identifierType" formControlName="identifierType" required>
					<option value="ssn">SSN</option>
					<option value="ein">EIN</option>
				</select>
			</validate>
		</div>
		<div class="small-12 medium-4 columns">
			<label for="identifier" class="required">Identifier (SSN/EIN)</label>
			<validate [errors]="formErrors['identifier']">
				<input type="text" class="form-control" id="identifier" formControlName="identifier" required>
			</validate>
		</div>
	</div>
	<div class="form-group">
		<div class="small-12 medium-4 columns">
			<label for="email" class="required">Email</label>
			<validate [errors]="formErrors['email']">
				<input type="text" class="form-control" id="email" formControlName="email" required>
			</validate>
		</div>
		<div class="small-12 medium-4 columns">
			<label for="phone" class="required">Phone #</label>
			<validate [errors]="formErrors['phone']">
				<input type="text" class="form-control" id="phone" formControlName="phone" required>
			</validate>
		</div>
		<div class="small-12 medium-4 columns">
			<label for="state" class="required">Active?</label>
			<validate [errors]="formErrors['state']">
				<select id="state" formControlName="state" required>
					<option value="active">Active</option>
					<option value="inactive">Inactive</option>
				</select>
			</validate>
		</div>
	</div>
	<div class="form-group text-right">
		<div class="small-12 columns">
			<button type="submit" class="button" [disabled]="providerForm.invalid" *ngIf="!provider.id">Create Provider</button>
			<button type="submit" class="button" [disabled]="providerForm.invalid" *ngIf="provider.id">Update Provider</button>
		</div>
	</div>
</form>
